<app-modal [title]="'Register'">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Username*</mat-label>
          <input
            matInput
            placeholder="Enter a username"
            [formControl]="userNameControl"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input
            matInput
            placeholder="Enter first name"
            [formControl]="firstNameControl"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input
            matInput
            placeholder="Enter last name"
            [formControl]="lastNameControl"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Email*</mat-label>
          <input
            matInput
            placeholder="some@email"
            [formControl]="emailControl"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Password*</mat-label>
          <input
            matInput
            type="password"
            placeholder="NOT 1234"
            [formControl]="passwordControl"
          />
        </mat-form-field>
      </div>
    </div>
    <app-button [text]="'Register'"></app-button>
  </div>
</app-modal>
