<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col">
      <mat-card class="m-5 shadow-lg">
        <mat-card-header class="justify-content-center pb-3 mb-3">
          <mat-card-title
            ><h1>The Future Of Banking Is Here</h1></mat-card-title
          >
        </mat-card-header>
          <div class="container p-3 mx-2">
            <div class="row">
              <div class="col bg-dark bg-gradient rounded"></div>
              <div class="col">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Voluptatum, vel esse dolore dolor, fugit aliquid
                        vero alias sed porro quisquam nemo assumenda velit
                        corrupti, placeat exercitationem laborum quis possimus
                        at commodi magnam blanditiis. Nobis blanditiis hic quod,
                        non ad officiis velit sit aut natus, quibusdam, est
                        maxime fugiat deleniti aperiam?
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-end">
                      <app-button
                        [text]="'Sign Up!'"
                        (btnClick)="onClick()"
                      ></app-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </mat-card>
    </div>
  </div>
</div>
