<div class="container">
  <div class="row">
    <div class="col">
      <mat-card class="m-5 shadow-lg">
        <mat-card-header class="justify-content-center pb-3 mb-3">
          <mat-card-title
            ><h1>The Future Of Banking Is Here</h1></mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <div class="container">
            <div class="row h-100">
              <div class="col bg-dark bg-gradient">
              </div>
              <div class="col">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Tenetur quod veritatis laboriosam, autem dolores
                        eligendi sequi velit dolorum odio iusto vitae non nemo
                        aspernatur dignissimos totam exercitationem esse quas.
                        Eum.
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8 w-100 text-end">
                      <app-button [text]="'Sign Up!'" (btnClick)="onClick()"></app-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
